/* Universal Font Size */
*{
    font-size: 21px;

}

h2{

    font-size: 150%;
    font-weight: bold;
    margin:10px,0,0,0;
    width:100%

}

/* Link styling and hover effects */
a:link{
    text-decoration: none;
}

a:hover{
    color: darkblue !important;
    text-shadow: 2px 2px 5px lightblue,-2px -2px 5px lightblue;
    transition-duration: 0.5s;

}

a:visited{
    color: rgb(79, 198, 238);
}


/* Body background settings */
body{
    display: flex;
    background-color: black;
    flex-direction: column;


}

/* above header hero image settings */
#hero{

    width:100%; height:600px;
    display: inline-block;
    background-image: url("../images/galaxy.jpg");
    background-size: auto;

}

/* header settings */
header{
    display: flex;
    position:sticky;
    align-items: center;
    background-color: grey;
    top:0px;
    width: 100%;
    height: 75px;
    z-index: 999;
}

header nav{

    position: absolute;       
    right: 0%;
    width: 50%;
    bottom: 65%;
    font-weight: bolder;
    font-size: 25px;
    display: flex;
    justify-content: center; 
    

}

header h1{
    color: rgb(90, 50, 202);
    font-size: 300%;
    margin-left: 5%;
    max-width: 50%;
    float: left;
    font-family: serif;
    
}


header ul{
    
    list-style: none;
    position: absolute;
    right:10%;
    

}

#li1{

    display: inline-block;
    margin-left: 0;

}

#li2{

    display: inline-block;
    margin-left: 50px;
    margin-right: 50px;
}

#li3{

    display: inline-block;
    margin-right: 0;
}

/* "About me" section settings */
#aboutme{
    position:relative;
    display: flex;
    min-height: 250px;
    flex-grow: 1;
    align-items: center;
    background-color: black;
    color: white;
}

#aboutme img{

    float:left;
    margin-left: 2%;
    height: 200px;
    width: 200px;
    border-radius: 20%;
}

#aboutme p{
    width: 100%;
    font-size: 21px;
    line-height: 1.5;
    margin-top: 10px;

}

#aboutme article{
    display: block;
    margin: 2%;

}

/* Work examples section settings */

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    background-image: url("../images/Nightsky.jpeg");
    background-repeat: repeat-x;
    background-size: auto;
    color: white;
    margin-bottom: 100px;
}

main h2{
    width:100%;
    font-size: 250%;
    margin-top: 20px;
}

#workexample{
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: 1200px;


}

/* Individual work examples settings */

main figure {
    margin:20px;
    position: relative;
    height: 300px;
    width: 400px;
    display: inline-block;
    justify-content: center;
    flex-shrink: 1;
}

main img{

    size: auto;

}

#workexample img {
    border-radius: 30%;
    box-shadow:5px 5px 10px black, -5px -5px 10px black;
    width: 100%;
    height: 100%;
    opacity: 0.7;

}
#workexample img:hover{

    box-shadow:5px 5px 10px white, -5px -5px 10px white;
    opacity: 1;
    border-radius: 15%;
    transition: 0.5s;

}

#workexample h3{


    position:absolute;
    bottom: 35%;
    left:0;
    text-align: center;
    background-color: white;
    padding: 7px;
    opacity: 0.7;
    font-size: 30px;   
}

/* First work example settings */
.firstapp{
    width: 800px;
    height: 400px;
    display: inline-block;
    flex-shrink: 1;

}

.repo{

    width:100%;
    text-align: center;
    background-color: rgb(61, 79, 233);
    color: white !important;
    padding: 7px;
    font-size: 20px;   
    border-radius: 10px;
}

/* contact list settings */

footer{
    min-height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
}

footer a{

    font-size: 30px;
    margin-left: 7%;
    margin-right: 7%;
    display: inline-block;
}

/* contact list links style and hover effects
 */
footer img{

    width: 70px;
    height: 70px;
    border-radius: 50%;

}

footer img:hover{

    box-shadow:5px 5px 10px white, -5px -5px 10px white;
    transition: 0.5s;

}

/* Window-size responsive settings */

@media screen and (max-width: 939px){
    
    header{
        height: 100px;
    }

    #aboutme{
        height:150%;
    }

    header ul{
        position: absolute;
        right: 10%;
        list-style: square;
    }

    header nav{

        bottom: 77%;
    }

    main figure{

        size:70%;

    }

    #li1{
        text-align: right;
        display: block;
        width:100%;
    }

    #li2{
        display: block;
        margin-left: 0;
        margin-right: 0;
        text-align: right;
        width:100%;
    }

    #li3{
        display: block;
        text-align: right;
        width:100%;
    }

    .firstapp{
        width: 400px;
        height: 300px;
    }
    
}

