*{
    font-size: 21px;

}


a:link{
    text-decoration: none;
}

a:hover{
    color: darkblue !important;
    text-shadow: 2px 2px 5px lightblue,-2px -2px 5px lightblue;
    transition-duration: 0.5s;

}

a:visited{
    color: rgb(79, 198, 238);
}

body{
    display: flex;
    background-color: black;
    flex-direction: column;


}

section{

    /* border: black solid 5px; */
}

#hero{

    width:100%; height:600px;
    display: inline-block;
    background-image: url("../images/galaxy.jpg");
    background-size: auto;

}

header{
    display: flex;
    position:sticky;
    align-items: center;
    background-color: grey;
    top:0px;
    width: 100%;
    height: 75px;
    z-index: 999;
}

header h1{
    color: rgb(90, 50, 202);
    font-size: 300%;
    margin-left: 5%;
    max-width: 50%;
    float: left;
    font-family: serif;
    
}

header nav{

    /* border: blue solid 5px; */
    position: absolute;    
    right: 0%;
    width: 50%;
    font-weight: bolder;
    font-size: 25px;

}

header ul{
    
    /* border: black solid 5px; */
    list-style: none;
    float: right;

}

header nav ul li{
    display: inline-block;
    margin-right: 50px;
}

#aboutme{
    position:relative;
    display: flex;
    min-height: 250px;
    flex-grow: 1;
    align-items: center;
    background-color: black;
    color: white;
}

#aboutme img{

    float:left;
    margin-left: 2%;
    height: 200px;
    width: 200px;
    border-radius: 20%;
}

#aboutme p{
    width: 100%;
    font-size: 21px;
    line-height: 1.5;
    margin-top: 10px;

}

section article{
    display: block;
    margin: 2%;

}


h2{

    font-size: 150%;
    font-weight: bold;
    margin:10px,0,0,0;
    width:100%

}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    background-image: url("../images/Nightsky.jpeg");
    background-repeat: repeat-x;
    background-size: auto;
    color: white;
    margin-bottom: 100px;
}

main h2{
    width:100%;
    font-size: 250%;
    margin-top: 20px;
}

#workexample{
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: 1200px;


}

main article figure {
    margin:20px;
    position: relative;
    height: 300px;
    width: 400px;
    display: inline-block;
    justify-content: center;
    flex-shrink: 1;
}

main article figure img{

    size: auto;

}

.firstapp{
    width: 800px;
    height: 400px;
    display: inline-block;
    flex-shrink: 1;

}

#workexample img {
    border-radius: 30%;
    box-shadow:5px 5px 10px black, -5px -5px 10px black;
    width: 100%;
    height: 100%;
    opacity: 0.7;

}
#workexample img:hover{

    box-shadow:5px 5px 10px white, -5px -5px 10px white;
    opacity: 1;
    border-radius: 15%;
    transition: 0.5s;

}

#workexample h3{


    position:absolute;
    bottom: 35%;
    left:0;
    text-align: center;
    background-color: white;
    padding: 7px;
    opacity: 0.7;
    font-size: 30px;   
}

#workexample h4{


    position:absolute;
    bottom:27%;
    left:0;
    text-align: center;
    background-color: white;
    padding: 7px;
    opacity: 0.7;
    font-size: 20px;   
}

footer{
    min-height: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: grey;
}

footer a{

    font-size: 30px;
    margin-left: 7%;
    margin-right: 7%;
    display: inline-block;
}

/* footer figure{
    border-radius: 50%;
    background-color: white;
    width: 70px;
    height: 70px;

} */

footer img{

    width: 70px;
    height: 70px;
    border-radius: 50%;

}

footer img:hover{

    box-shadow:5px 5px 10px white, -5px -5px 10px white;
    opacity: 1;
    /* border-radius: 15%; */
    transition: 0.5s;

}

@media screen and (max-width: 939px){
    
    header{
        height: 100px;
    }

    #aboutme{
        height:150%;
    }
    
}

@media screen and (max-width: 880px){

    .firstapp{
        width: 400px;
        height: 300px;
    }
}

